@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  hsl(30, 54%, 90%)
}

.container{
    padding: 1.2rem;
    border-radius: 15px;
    background-color: white;
    max-width: 365px;
}
.container img{
    border-radius: 10px;
    width: 100%;    
}
.container h1{
    font-family: "Young Serif",sans-serif;
    font-weight: 550;
}
.prepTime{
    color: hsl(332, 51%, 32%);
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}

li {padding-left:1em}
.prepTime h4{
    padding-left: 1rem;
}
.paragraph{
    border-bottom: 1px solid  lightgray;
}
.paragraph:last-child{
    border-bottom: none;
}
.paragraph h3{
    font-family: "Young Serif",sans-serif;
    font-weight: 500;
    color:hsl(14, 45%, 36%)
}

.marker ::marker{
    color:hsl(14, 45%, 36%)
}

.paragraph .nutritionTable  {
    border-collapse:collapse;
    width: 100%;

}
.paragraph .nutritionTable  tr:not(tr:last-child){

    border-bottom: 1pt solid   hsl(30, 18%, 87%);

}